# Here we set a bunch of parameters for your image build

# output image name, usually same as repo name, change as needed
IMAGE_NAME=bazzite-gnome

# Make this the same as your github username/organisation
REPO_ORGANIZATION="mikaelvz"

IMAGE_DESC="Custom Universal Blue Bazzite GNOME image"
